.d-flex.align-items-center.p-3.my-3.text-white.category-title.rounded.shadow-sm
    .lh-1
        h1.h6.mb-0.text-white.lh-1 Bootstrap
.my-3.p-2.category-body.rounded.shadow-sm
    .d-flex.text-color
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .d-flex.text-color.pt-3
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .d-flex.text-color.pt-3
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.