.row.rounded
    small.col-4.text-left.pb-1
        a(href='#') Delete all
        a.ml-4(href='#') Restore all

    .d-flex.text-color.pt-3.category-body
        a.pt-1(href='#')
            svg.bd-placeholder-img.flex-shrink-0.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 32x32' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#ef0505')
                text(x='50%' y='50%' fill='#ef0505' dy='.3em') 32x32
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .d-flex.text-color.pt-3.category-body
        a.pt-1(href='#')
            svg.bd-placeholder-img.flex-shrink-0.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 32x32' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#ef0505')
                text(x='50%' y='50%' fill='#ef0505' dy='.3em') 32x32
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .d-flex.text-color.pt-3.category-body
        a.pt-1(href='#')
            svg.bd-placeholder-img.flex-shrink-0.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 32x32' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#ef0505')
                text(x='50%' y='50%' fill='#ef0505' dy='.3em') 32x32
        p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.link-secondary @username
            |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
