doctype html
include ./partials/head.pug

// Custom styles for this template
link(href='bs-page-css/blog.css' rel='stylesheet')
//- link(href='https://coliff.github.io/dark-mode-switch/dark-mode.css' rel='stylesheet')
link(href='dark-mode/hankchizljaw-dm.css' rel='stylesheet')

.container
  include ./partials/header.pug
      
main.container
  .row
    .col-md-8
      h3.pb-2.mb-4.font-italic.border-bottom.pt-3
        | Latest notes
      article.blog-post
        include ./partials/note-plain.pug


      // /.blog-post
      nav.blog-pagination(aria-label='Pagination')
        a.btn.btn-outline-primary(href='#') Older
        a.btn.btn-outline-secondary.disabled.ml-3(href='#' tabindex='-1' aria-disabled='true') Newer


    // Starrted items
    .col-md-4
      .p-4.bg-card.rounded.shadow
        h4.font-italic Starred
        p.mb-0
          ol.list-unstyled.mb-0
            li
              a(href='#') March 2014
            li
              a(href='#') February 2014

      .p-4
        h4.font-italic Categories
        ol.list-unstyled.mb-0
          include ./partials/category-list.pug

include ./partials/footer.pug

//- script(src='https://coliff.github.io/dark-mode-switch/dark-mode-switch.min.js')
script(src='dark-mode/hankchizljaw-dm.js')
