doctype html
head
  // Bootstrap core CSS
  link(href='https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='css/login.css' rel='stylesheet')

.container
  .outer
    .row
      .col-lg-6.bg-dark.text-light.order-first
        h1.title-1.text-center STASH
        h3.text-center Simple app to save your notes
      .col-lg-6.order-last.box
        form
          h4 Login
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name='email' placeholder='Your email' required='')
            label(for='pw') Password
            input#pw.form-control(type='password' name='pw' placeholder='password' required='')
          .text-left
            button.btn.btn-dark(type='submit') Login
